/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
  .top-navigation .trigram {
    display: none;
  }
}

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

@media screen and (min-width: 1024px) {
  .portfolio-img-wrapper {
    border: 2px solid black;
  }
  .teammate-img-wrapper {
    width: 160px;
    height: 180px;
    border: 2px solid black;
  }
}
/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (min-width: 359px) and (max-width: 1023px) {
  .top-navigation ul {
    display: none;
  }
  .trigram:hover {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .portfolio-item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .portfolio-img-wrapper {
    max-width: 300px;
    height: 175px;
    border: 2px solid black;
  }

  .portfolio-item-info {
    padding: 10px;
    max-width: 320px;
  }
  .teammates-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .teammate-img-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 2px solid black;
  }
  .teammate {
    justify-content: space-between;
  }
  .teammate-data {
    align-items: center;
    text-align: center;
  }
  .teammates-list:before,
  .teammates-list:after {
    display: none;
  }
  .social-icons span {
    display: none;
  }
  .social-icons {
    width: 0;
  }
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media screen and (min-width: 360px) and (max-width: 767px) {
  .portfolio-list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .portfolio-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .portfolio-img-wrapper {
    width: 450px;
    height: 250px;
    border: 2px solid black;
  }

  .portfolio-item-info {
    max-width: 400px;
  }
  .teammates-list-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .teammate {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    padding: 2%;
  }
  .teammate-img-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 120px;
    height: 140px;
    border: 2px solid black;
  }
  .teammate-data {
    width: 160px;
    padding-top: 5%;
    padding-right: 15%;
  }
  .teammates-list:before,
  .teammates-list:after {
    display: none;
  }
  .social-icons span {
    display: none;
  }
  .social-icons {
    width: 0;
  }
}

a:hover {
  font-size: 20px;
  color: white;
}

.teammate-social-icons > div:hover {
  background-color: rgb(88, 88, 88);
}
.email a:hover {
  text-decoration: underline;
  color: white;
}
footer .social-icons div:hover {
  color: white;
  font-weight: bold;
}
